*{box-sizing:border-box;}
body{
    background-color:black;
    margin:0px;
    font-family: verdana;
    text-align: center;
}
header,nav,section,aside,footer{
    border: 1px solid black;
}
header,nav{
    position: fixed;
}

header{
    height: 60px;
    width:100%;
    background-color: black;
    z-index: 9999;
    margin-top: 0px;
    float: left;
}
nav{
    width:100%;
    float: left;
    background-color: red;
    height:40px;
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
    margin-top: 60px;
    align-content: center;
}
#navbar a{
    color: black;
    text-decoration-line: none;
    display:inline-block;
    padding:0 20px;
}
#navbar a:link{
    color: black;
    transition: transform 0.2s;
}
#navbar a:hover{
    height: 40px;
    background-color:black;
    color:white;
    background-size:cover;
    transform: skewX(-20deg);
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
}
#navbar a:active{
    box-shadow: 5px 5px 10px black;
}
#logo{
    width: 200px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}
section{
    width: 100%;
    float: right;
    height: auto;
    margin-top:100px;
    padding-left:50px;
}
#centerimg{
    width: 50%;
    float: left;
    height: auto;
    margin-top: 75px;
    margin-bottom: 75px;

}
#locationicon{
    width: 50px;
    height: 50px;   
    float:inherit;
    vertical-align: middle;
    margin-top: 20px;
}
#location{
    display: flex;
    padding-left: 50px;
    text-align: center;
}
h2{
    color: white;
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    font-family:"Lucida Sans Typewriter";
}

h5{
    color: white;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family:"Lucida Sans Typewriter";
    
}
#socialmedia{
    margin-top: 30px;
    color: white;
    display: flex;
    vertical-align: middle;
    margin-left: 950px;
    font-size: 30px;
}

#socialmedia2{
    margin-top: 20px;
    color: white;
    display: flex;
    vertical-align: middle;
    margin-left: 800px;
    font-size: 30px;
}
#socialmediaicon{
    width: 50px;
    height: 50px;
    float: inherit;
    text-align: center;
}
h3{
    margin:0px;
    margin-left: 20px;
}
#whatsappicon{
    width: 50px;
    height:50px;
    color: white;
}
h4{
   margin: 0px;
    margin-left: 20px;
}
.header1{
    color: lightgrey;
    font-family: "Lucida Sans Typewriter";
    text-decoration-line: underline;
    font-size: 30px;
    height: 20px;
    margin-top: 70px;
    
}
.header2{
    color: lightgray;
    font-family: "Lucida Sans Typewriter";
    text-decoration-line: underline;
    font-size: 30px;
    height: 20px;
}

#socialmedia3{
    display: flex;
    align-items: center;
    padding-left: 80px;
}

#phoneicon{
    width: 50px;
    height:50px;
    color: white;
}
h5{
   margin: 0px;
    margin-left: 20px;
    text-align: center;
    padding-bottom: 0px;
    font-size: 30px;
}
footer{
    margin: auto;
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width:800px){
    section{
        width:80%;
    }
}