*{box-sizing:border-box;}
body{
    background-color:black;
    margin:0px;
    font-family: verdana;
    text-align: center;
}
header,nav,section,aside,footer{
    border: 1px solid black;
}
header,nav{
    position: fixed;
}
header{
    height: 60px;
    width:100%;
    background-color: black;
    z-index: 9999;
    margin-top: 0px;
}
nav{
    width:100%;
    float: left;
    background-color: red;
    height:40px;
    text-align: right;
    padding-right: 20px;
    font-size: 30px;
    margin-top: 60px;
    font-family: "Lucida Sans Typewriter";
}
#navbar a{
    color: black;
    text-decoration-line: none;
    display:inline-block;
    padding:0 20px;
}
#navbar a:link{
    color: lightgrey;
    transition: transform 0.2s;
}
#navbar a:hover{
    height: 40px;
    background-color:black;
    color:white;
    background-size:cover;
    transform: skewX(-20deg);
    padding-left: 20px;
    padding-right: 20px;
}
#navbar a:active{
    box-shadow: 5px 5px 10px black;
}
#logo{
    width: 200px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}
section{
    width: 45%;
    float: left;
    background-size:1000px;
    height: auto;
    margin-top:100px;
    text-align: left;
    padding-left: 50px;
}

.h1word{
    color: white;
    font-size: 120px;
    width: 680px;
    margin: 0;
}

.h1header{
   font-size: 120px; 
    padding: none;
    color: red;
    width: 60px;
    margin: 0;
}

#protectcontainer{
    padding-top:35px;
    display: flex;
    flex-direction: row;
    font-family: "karate medium";
}

#yourselfcontainer{
    padding-left: 65px;
    display: flex;
    flex-direction: row;
    font-family: "karate medium";
}
#psection{
    font-size:24px;
    color:grey;
    height: 296px;
    width: 600px;
    padding-top:10px;
    font-family: "Lucida Sans Typewriter";
}

aside{
    width: 45%;
    height: 100%;
    float: right;
    margin-top: 100px;
    padding-top: 110px;
}
#background{
    width: 100%;
    
}

footer{
    margin: auto;
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width:800px){
    header{
        height:  100px;
    }
    nav{
        float: none;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }
    #navbar a{
        float: none;
        width:100%;
        text-align: center;
    }
    section{
        width: 100%;
        margin-top: 280px;
        padding-left: 0px;
    }
    #protectcontainer{
        padding-top: 150px;
    }
    aside{
        display: none;
    }
    .h1word{
        font-size: 50px;
        margin: 0px;
        width: 250px;
        margin-right: 30px;
    }
    .h1header{
        font-size: 50px;
        width: 40px;
    }
    #slogan{
        margin-left: 50px;
        text-align: center;
        margin-bottom: 180px;
    }
    #psection{
        padding-top: 0px;
        width: 100%;
        font-size:20px;
        text-align: center;
    }
}
@media only screen and (max-width:1044px)
{
    #background{
        width: 300px;
    }
}